::-webkit-scrollbar {
    display: none;
}


* {
    -webkit-user-drag: none;
    cursor: none;
    user-select: none;
    scroll-behavior: smooth;
    scroll-padding-top: 150px;
    scroll-snap-align: start;
}

#overlay {
    position: absolute;
    height: 100vh;
    width: 200vh;
    overflow: hidden;
    background: black;
    z-index: 11;
    opacity: 1;
    display: block;
    animation: fade-out 0.5s ease forwards;
}

@keyframes fade-out {
    to {
        z-index: -1;
        opacity: 0;
        display: none;
        background: transparent;
    }
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    background: rgb(6, 6, 6);
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
}

/* Parallax Container */
.parallax-container {
    position: relative;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    color: #fff; /* Text color on top of the image */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    /* animation: moveUp 1s ease 0.2s forwards; */
}

.parallax-container *, .back-text p {
    animation: fade 0.4s ease-in both;
}

@keyframes moveUp {
    to {
        height: 88vh;
        max-height: 88vh;
    }
}

/* Parallax Text */
.parallax-text {
    font-size: 2.7em;
    position: absolute;
    width: 50%;
    opacity: 0;
    transform: translateY(-25%);
    text-shadow: 1px 1px 8px #0c0c0c;
}

.parallax-text h1 {
    font-size: 3em;
    margin-bottom: 0;
}

.parallax-text p {
    font-style: italic;
}

.header-button {
    padding: 25px 35px 25px 35px;
    position: absolute;
    top: 90vh;
    left: 94vw;
    transform: translateY(-50%);
    border: none;
    color: #fff;
    background: transparent;
    border: 2px solid #7e7d80;
    background-size: 150%;
    border-radius: 500px 500px;
    transform: scale(0.7) rotate(-90deg);
    transition: 0.4s ease;
}

.header p {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    text-shadow: 2px 2px 8px #0c0c0c;
    background: transparent;
    position: absolute;
    transition: 0.4s ease;
}

.scroll-text p {
    top: 92vh;
    left: 50vw;
    transform: translateX(-50%);
}

.back-text p {
    position: fixed;
    top: 1.5vh;
    left: 2vw;
    z-index: 10;
}

.page-number p {
    top: 1.5%;
    text-shadow: none;
    left: 95vw;
    font-size: 1.2rem;
}  


.header-button:hover {
    filter: opacity(0.5);
}



.header:not(.header.page-number) p:hover {
    filter: opacity(0.5);
}

.header-button img {
    width: 18px;
    height: auto;
    filter: invert(1);
}

#parallax-nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    text-align: center;
    width: 100%;
    background-color: rgb(6, 6, 6);
    z-index: 1;
}

#parallax-nav .article-link,
.article-link a {
    display: inline-flex;
    text-decoration: none;
    color: #e8e6e3;
    margin: 0.7em 1.2em 0.7em 1.2em;
    font-size: 1.5rem;
}

.article-link a {
    transition: 0.3s ease;
    opacity: 1;
}

#parallax-nav .article-link:hover a {
    opacity: 0.5;
}

.article {
    color: #e8e6e3;
    /* Scroll Snap */
}

/* Article title */
.article h2 {
    padding: 0em;
    text-align: center;
    font-size: 2.4em;
}

/* Article content */
.article p {
    text-align: left;
    display: flex;
    align-items: center;
    margin-left: 20vw;
    margin-right: 20vw;
    justify-content: center;
    font-size: 2em;
    line-height: 1.5em;
    text-indent: 3em;
    scroll-snap-align: start;
}

.article p,
.article h2,
.article .author {
    /* Experimental Animation */
    animation: fade linear both, gradient linear both, reveal linear both;
    animation-timeline: view();
    animation-range: entry 45% cover 45%;

    background: linear-gradient(90deg, white 0%, white 25%, transparent 100%);
    background-size: 200%;
    background-repeat: no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.article .author {
    text-indent: 0;
    filter: brightness(0.5);
    font-size: 1.8em;
}

.article .linebreak {
    font-size: 6rem;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes gradient {
    0% {
        background-position-x: 200%;
    }
    100% {
        background-position-x: 0%;
    }
}

@keyframes reveal {
    60% {
        transform: translateY(60px);
    }
}

/* Carousel */

.centered {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    display: flex;
}

.carousel__frame {
    /* border: 1px solid #f00; */
    width: 1000px;
    height: auto;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    transition: 0.3s ease-in;
}

.carousel img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: 0.3s ease;
    /* // background-size: cover; */
    /* // display: table; */
}

.carousel__slides {
    display: block;
}

.carousel__frame:hover {
    transform: scale(1.06);
}

.carousel__slides img {
    width: 1000px;
    height: 700px;
}

.carousel__item {
    position: relative;
    display: inline-block;
}

.carousel button {
    padding: 25px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    color: #fff;
    background: transparent;
    border: 5px solid #fff;
    border-radius: 75%;
    transform: scale(0.5);
}

.carousel__prev {
    left: 0.5em;
}

.carousel__next {
    right: 0.5rem;
}

.carousel__frame button img {
    width: 24px;
    height: auto;
    filter: invert(1);
}

.carousel__frame button:hover img {
    transform: scale(1.5);
}

#images {
    text-align: center;
}

#images section {
    display: flex;
    flex-wrap: wrap;
    gap: 5vmin;
    align-items: center;
    justify-content: center;
}

.image-container img {
    width: 1000px;
    height: 700px;
    object-fit: cover;
    animation: fade ease-in both;
    animation-timeline: view();
    animation-range: entry 45% cover 45%;
    transition: 0.2s ease-in;
    opacity: 1;
}

.image-container:hover img {
    transform: scale(1.1);
    filter: brightness(0.4);
}

.image-container .text {
    color: #e8e6e3;
    opacity: 0;
    transition: 0.2s ease-in;
    font-size: 4rem;
    transform: translateY(-480px);
}

.image-container:hover .text {
    transform: scale(1.1) translateY(-480px);
    opacity: 1;
}
