::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #414141;
}

::-webkit-scrollbar-thumb {
    background-color: #A0A0A0;
    border-radius: 20px;
    opacity: 50%;
}

* {
    cursor: none;
    user-select: none;
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: rgb(4, 4, 4);
    overflow-x: hidden;
}



/* Parallax Container */
.parallax-container {
    position: relative;
    height: 120vh;
    max-height: 120vh;
    overflow: hidden;
    color: #fff; /* Text color on top of the image */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    animation: moveUp 1s ease 0.2s forwards;
}

@keyframes moveUp {
    to {
        height: 88vh;
        max-height: 88vh;
    }
}

/* Parallax Text */
.parallax-text {
    font-size: 2em;
    animation: fade 1s ease .2s forwards;
    position: absolute;
    width: 50%;
    opacity: 0;
}

.parallax-text h1 {
    font-size: 3em;
    margin-bottom: 0;
}

.parallax-text p {
    font-style: italic;
}


.parallax-nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    text-align: center;
    width: 100%;
    background-color: rgb(4, 4, 4);
    z-index: 1;
}

.article-link:nth-child(1) a {
    animation: fade 0.75s ease 0.9s forwards;
}

.article-link:nth-child(2) a {
    animation: fade 0.75s ease 1.2s forwards;
}

.article-link:nth-child(3) a {
    animation: fade 0.75s ease 1.5s forwards;
}

.article-link:nth-child(4) a {
    animation: fade 0.75s ease 1.8s forwards;
}


.parallax-nav .article-link, .article-link a {
    display: inline-flex;
    text-decoration: none;
    color: #fff;
    margin: 0.5em;
    font-size: 1.5rem;
}

.article-link a {
    transition: 0.3s ease;
    opacity: 0;
}

.parallax-nav .article-link:hover {
    font-size: 1.8rem;
    margin: 0.8rem;
    opacity: 1;
    animation: tilt-shaking 0.35s infinite;
    color:red;
}

@keyframes tilt-shaking {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(5deg);}
    50% { transform: rotate(0deg);}
    75% { transform: rotate(-5deg);}
    100% { transform: rotate(0deg);}
  }

.article {
    color: #fff;

    /* Scroll Snap */
    scroll-snap-type: y mandatory; 
}

/* Article title */
.article h2 {
    padding: 0em;
    text-align: center;
    font-size: 2.4em;
}

/* Article content */
.article p {
    text-align: left;
    display: flex;
    align-items: center;
    margin-left: 20vw;
    margin-right: 20vw;
    justify-content: center;
    font-size: 2em;
    line-height: 1.5em;
    text-indent: 3em;

    /* Scroll Snap */
    scroll-snap-align: center;
    
}

.article p, .article h2, .article .author {
     /* Experimental Animation */
     animation: fade linear both, gradientReveal linear both;
     animation-timeline: view();
     animation-range: entry 50% cover 50%;
 
     background: linear-gradient(90deg, white 0%, white 25%, transparent 100%);
     background-size: 200%;
     background-repeat: no-repeat;
     background-clip: text;
     -webkit-background-clip: text;
     color: transparent;
}

.article .author {
    text-indent: 0; 
    filter:brightness(0.5);
}

.article .linebreak {
    font-size: 6rem;
}

@keyframes fade {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes gradientReveal {
    0% {
        background-position-x: 200%;
    } 60% {
        transform: translateY(100px);
    } 
    100% {
        background-position-x: 0%;
    }
}
