* {
    cursor: none;
    user-select: none;
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: #181A1B;
}

/* Parallax Container */
.parallax-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
    color: #fff; /* Text color on top of the image */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Parallax Text */
.parallax-text {
    font-size: 2em;
}

.parallax-nav {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    text-align: center;
    width: 100%;
}

.parallax-nav a {
    text-decoration: none;
    color: #fff;
    margin: 1em;
    transition: 0.3s ease;
    font-size: 1.3rem;
}

.parallax-nav a:hover {
    font-size: 1.5rem;
    margin: 0.8rem;
}

.article {
    color: #fff;
}

/* Article title */
.article h2 {
    padding: 0.8em;
    text-align: center;
    font-size: 2em;
}

/* Article content */
.article p {
    text-align: left;
    display: flex;
    align-items: center;
    margin-left: 20vw;
    margin-right: 20vw;
    justify-content: center;
    font-size: 1.8em;
    line-height: 1.5em;
    text-indent: 3em;

    /* Experimental */
    animation: fade linear both, reveal both linear;
    animation-timeline: view();
    animation-range: entry 35% cover 35%;

    /* Gradient Effect */
    background: linear-gradient(90deg, white, transparent);
    background-size: 200%;
    background-repeat: no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.article .linebreak {
    font-size: 6rem;
}

@keyframes fade {
    0% {
        opacity: 0;
        transform: translateY(0);
    } 60% {
        transform: translateY(50px);
    } 100% {
        opacity: 1;
    }
}

@keyframes reveal {
    0% {
        background-position-x: 200%;
    } 100% {
        background-position-x: 0%;
    }
}
