.cursor {
    pointer-events: none;
    position: fixed;
    display: block;
    border-radius: 0;
    mix-blend-mode: difference;
    top: 0;
    left: 0;
    z-index: 9999999999999999;
}

.circle {
    position: absolute;
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 20px;
    background-color: #fff;
    opacity: 20%;
    box-shadow: 0px 0px 0px 5px #fff;
}